.header{
    padding: 22px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #e5e5e5;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu{
    display: flex;
    column-gap: 50px;
}

.header__item   {
    font-size: 18px;
    line-height: 21px;
    color: rgba(31, 46, 53, 0.8);
}

