@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
}

.header {
  background-color: #00b1ff;
  border-bottom: 2px solid #FAC422;
}

.header__block {
  padding: 31px 0 21px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.header__menu {
  padding-top: 7px;
  display: flex;
  column-gap: 60px;
}

.header__menu-link {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  transition: 0.3s;
}

.header__menu-link:hover {
  color: #FAC422;
  transition: 0.3s;
}

.header__btns-icons {
  display: flex;
  column-gap: 26px;
}

.button {
  border: none;
  display: flex;
  align-items: center;
  padding: 12px 25px;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  background: transparent;
  transition: background 0.5s, color 0.5s;
}

.button:hover {
  background: #ffffff;
  box-shadow: 0 0 40px #fff;
  color: skyblue;
  transition: background 0.5s, color 0.5s;
  filter: hue-rotate(20deg);
}

.button::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-top: 3.5px solid skyblue;
  border-left: 3.5px solid skyblue;
  position: absolute;
  top: 0;
  left: 0;
}

.button::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3.5px solid skyblue;
  border-right: 3.5px solid skyblue;
  position: absolute;
  bottom: 0;
  right: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.overlay .popup {
  border-radius: 10px;
  background: white;
  max-width: 440px;
  border: 5px #3dc0ff inset;
}

.form-top {
  padding: 20px 0;
  text-align: center;
  color: white;
  background: #262157;
  border-radius: 6px 6px 0 0;
}

.form-content {
  padding: 30px 50px;
  background: #2B2B69;
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  padding-left: 20px;
  outline: none;
  color: rgb(55, 182, 215);
  border: none;
}

.input::placeholder {
  color: rgb(55, 182, 215);
}

.form-content-label {
  width: 330px;
  border-radius: 5px;
  border: 5px skyblue inset;
}

.line {
  padding: 5px 10px 5px 30px;
}

.lines {
  padding: 10px 10px 5px 30px;
}

textarea {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  padding-left: 20px;
  padding-top: 6px;
  resize: none;
  color: rgb(55, 182, 215);
  outline: none;
}

.forum {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .header__menu-link {
    width: 70px;
  }
}
.future {
  height: 1070px;
  background-image: linear-gradient(#00b1ff, #093860);
}

.future__blocks {
  padding-top: 237px;
  display: flex;
}

.future-of-esports {
  display: flex;
  column-gap: 15px;
}

.f-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FAC422;
  padding-top: 10px;
}

.left-title {
  padding-top: 24px;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  text-transform: capitalize;
  color: #FFFFFF;
  position: relative;
}

.left__title-line {
  position: absolute;
  height: 16px;
  left: 310px;
  bottom: 210px;
}

.left-text {
  padding-top: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #999999;
}

.f-btns {
  padding-top: 53px;
  display: flex;
  column-gap: 40px;
}

.buttonv {
  padding-top: 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.our {
  background-image: linear-gradient(#ffe200, #ff7300);
}

.our__title {
  padding-top: 128px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  color: #222730;
  position: relative;
}

.our__line {
  position: absolute;
  left: 650px;
}

.our__text {
  padding-top: 44px;
  text-align: center;
}

.our__block-items {
  padding: 41px 0 130px;
  display: flex;
  column-gap: 32px;
}

.your {
  background: url("../css/images/your/your-bg.png") center/cover no-repeat;
}

.future-of-esportss {
  padding-top: 136px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.f-titles {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FAC422;
  padding-top: 10px;
}

.your__title {
  padding-top: 15px;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

.your__text {
  padding-top: 39px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: rgba(223, 223, 223, 0.8);
}

.your__block {
  display: flex;
  flex-wrap: wrap;
  padding-top: 61px;
  padding-bottom: 130px;
  gap: 32px;
}

.you__block-items {
  width: calc(50% - 16px);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 35px 32px;
}

.your__items-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.y-row {
  display: flex;
  column-gap: 16px;
}

.your__items-text {
  padding-top: 19px;
  padding-left: 50px;
  font-weight: 400;
  font-size: 15px;
  justify-content: flex-start;
  line-height: 28px;
  color: rgba(223, 223, 223, 0.8);
}

.new {
  padding-top: 130px;
  background-image: linear-gradient(#2A313C, #000);
}

.new__block {
  display: flex;
  column-gap: 107px;
}

.new__title {
  padding-top: 22px;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.new__text {
  padding-top: 38px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(223, 223, 223, 0.8);
}

.b {
  padding: 54px 0 168px;
}

.new-video {
  position: relative;
}

.iconv {
  position: absolute;
  top: 210px;
  left: 180px;
}

.customize {
  background-image: linear-gradient(#2A313C, #000);
}

.custom__row {
  display: flex;
  column-gap: 128px;
}

.custom__row-right {
  padding: 89px 0 22px;
}

.custom__text {
  padding: 38px 0 65px;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: rgba(223, 223, 223, 0.8);
}

.custom__slide {
  width: 30%;
}

.smooth__row {
  display: flex;
}

.smooth-fps {
  display: flex;
  align-items: center;
  background-image: url("./images/smooth.png");
  background-repeat: no-repeat;
  width: 507px;
  background-size: 507px;
  height: 732px;
}

.multiplayer {
  display: flex;
  align-items: center;
  background-image: url("./images/smooth.png");
  background-repeat: no-repeat;
  width: 507px;
  background-size: 507px;
  height: 732px;
}

.open {
  display: flex;
  align-items: center;
  background-image: url("./images/smooth.png");
  background-repeat: no-repeat;
  width: 507px;
  background-size: 507px;
  height: 732px;
}

.late {
  background-image: linear-gradient(#000, #3700ff);
}

.fs {
  padding-top: 136px;
}

.new__title {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  display: flex;
  align-items: center;
  padding: 12px 25px;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  background: transparent;
  transition: background 0.5s, color 0.5s;
}

.btn:hover {
  background: #ffffff;
  box-shadow: 0 0 40px #fff;
  color: skyblue;
  transition: background 0.5s, color 0.5s;
  filter: hue-rotate(20deg);
}

.btn::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-top: 3.5px solid skyblue;
  border-left: 3.5px solid skyblue;
  position: absolute;
  top: 0;
  left: 0;
}

.btn::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3.5px solid skyblue;
  border-right: 3.5px solid skyblue;
  position: absolute;
  bottom: 0;
  right: 0;
}

.gc::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-top: 3.5px solid skyblue;
  border-right: 3.5px solid skyblue;
  position: absolute;
  top: 0;
  right: 0;
}

.gc::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3.5px solid skyblue;
  border-left: 3.5px solid skyblue;
  position: absolute;
  bottom: 0;
  left: 0;
}

.late__row {
  display: flex;
  column-gap: 24px;
}

.late__left {
  padding-top: 68px;
}

.late__left-date {
  padding-top: 54px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #57B8FF;
}

.late__left-title {
  padding: 28px 0 130px;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.late__right {
  padding-top: 74px;
}

.late-right-blocks {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 38px;
}

.late__right-date {
  padding: 30px 0 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #57B8FF;
}

.late__right-title {
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.join {
  background-image: url("./images/JOIN.png");
}

.join__title {
  padding: 126px 0 51px;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  text-align: center;
  color: #141820;
}

.join__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #555555;
}

.join__form {
  padding-top: 45px;
  padding-bottom: 130px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.join__email {
  background: #FFFFFF;
  border: 7px inset #57B8FF;
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding: 26px 226px 26px 13px;
}

.join__sub {
  padding: 21px 15px;
  background-color: #57B8FF;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.footer {
  background-image: linear-gradient(#57B8FF, #1000ff);
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.first-title {
  padding-top: 141px;
}

.first-text {
  padding: 50px 0 65px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #999999;
}

.second__block {
  display: flex;
  flex-direction: column;
}

.second-title {
  padding-top: 150px;
  padding-bottom: 27px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.second-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 38px;
  text-transform: capitalize;
  color: #999999;
}

.fourth-title {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 27px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.s4 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  padding-bottom: 50px;
}

.icb {
  width: 30px;
  transition: 0.5s;
}

.icb:hover {
  transition: 0.5s;
  transform: rotate(360deg);
  width: 50px;
}