*{
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 940px;
    margin: 0 auto;
}

.header{

    background-color: gray;
    padding: 15px 0;
}

.header-nav{
display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-ul{
    list-style-type: none;
    display: flex;
    column-gap: 40px;
}

.header-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;

}
.header-item{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #00D6B4;

}
.build{
    padding: 226px 0 140px;
    background: url("../images/buildbg (1).png") center/cover no-repeat;
}
.build-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 29px;
    color: #FFFFFF;

}
.build-block{
    text-align: center;
}
.build-btn{
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 26px;
    font-family:  Serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    color: whitesmoke;
    background: transparent;
    cursor: pointer;

}
.latest{
    padding: 48px 0 81px;
    background: #222222;
}
.latest{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;

}
.latest-row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}
.build-btn:hover{
    transition: .5s;
    background-color: black;
}
.footer{
    padding: 36px 0;
    background: #222222;
}
.footer-info{
    text-align: center;
}
.footer-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #C2C2C2;

}
.footer-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #999999;

}







