.partners{
    padding: 0 108px;
    width: 100%;
    background: #283036 ;
}
.partners__swiper{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.swiper-button-next{
    position: absolute;

}
.swiper{
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 600px;

}
.swiper-info_text-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.015em;
    color: rgba(255, 255, 255, 0.78);

}
.swiper-info{
    width: 100%;
    display: flex;
    align-items: center;

}
.swiper-info_text-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.015em;
    color: rgba(255, 255, 255, 0.78);
}
.become{
    width: 100%;
    background: #283036 ;
    padding: 251px 444px 240px;
}
.footer__box-name{
    display: flex;
}
.footer__box{
    display: flex;
}
.box{
    width: 560px;
    margin: 0 auto;
}
.footer__card{
    width: calc(25% - 25px);
}
.become__title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.9);

}
.become__text{
    margin: 25px 0 100px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.55);

}
.forms__btn{
    border: none;

    padding: 12px 36px;
    background: #FF6E30;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}
.ends__input{

    padding-left: 30px;
    background: transparent;
    border: 2px solid  rgba(255, 255, 255, 0.38);
    width: 400px;
    height: 100%;
}
.ends__input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.38);
}
.ends__form{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #283036;
    border-radius: 15px;
}

.tools{
    background:  #283036;
    padding: 0 108px;
}
.tools__box{
    display: flex;
}
.tools__box-right{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 50px;
}
.left__card-btn{
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    background: #FF6E30;
    border-radius: 8px;
    padding: 16px 40px;
}
.tools__box-left{
    width: 50%;
    display: flex;

}
.right-card__end-logos{
    display: flex;
    column-gap: 27px;
    align-items: center;
}
.left__card-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.55);

}
.left__card-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.9);

}
.left__card-text{
    margin: 30px 0 60px 0;
}
.tools__box-left_card{
    display: flex;
    flex-direction: column;
}
.right-card__text{
    line-height: 30px;
    margin: 30px 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.55);

}
.right-card__logo{
    align-items: center;
    column-gap: 34px;
    display: flex;
}
.right-card__end-btn{
    border: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
}
.right-card__end{
    column-gap: 43px;
    justify-content: space-between;
    display: flex;
}
.right-card__logo-title{

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.78);
}
.freeandpaid{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 165, 55, 0.55);
}
.tools__box-right{
    width: 50%;

}
.tools__box-right_card{
    padding: 28px 28px 36px 22px;
    background: #1E252B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: calc(50% - 12px);
}
.trusted{
    background:  #283036;
    padding: 200px 108px;
}
.trusted__box{
    padding: 55px 71px 57px 82px ;
    row-gap: 55px;
    background: #2C353D;
    backdrop-filter: blur(25px);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trusted__box-up{
    justify-content: flex-end;
    height: 50%;
}
.trusted__box-up_title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.8);

}
.trusted__box-down{
    column-gap: 107px;
    align-items: flex-start;
    display: flex;
    height: 50%;
}